.booking-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #78716c;
  height: 325px;
  width: 255px;
  border: none;
  border-radius: 18px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 10px;
  text-align: center;
  padding: 10px;
  transition: 0.5s ease;
}
.booking-card:hover {
  transform: scale(1.1);
}
.booking-card input,
select {
  background-color: #a8a29e;
  height: inherit;
  justify-content: space-evenly;
  align-items: center;
  text-align: start;
  padding: 15px;
  border: none;
  border-radius: 100px;
  margin: 10px;
}
.booking-card span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.booking-card button {
  color: #fafaf9;
  background-color: #ca8a04;
  border-radius: 100px;
  height: 45px;
  width: 155px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.5s ease;
}

.booking-card button:hover {
  background-color: #854d0e;
}
.booking-card span button {
  width: auto;
}
