.review-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fed7aa;
  height: 325px;
  width: 225px;
  border: none;
  border-radius: 18px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 10px;
  text-align: center;
  padding: 10px;
}
.review-card input {
  height: 200px;
  align-items: center;
  text-align: start;
  padding: 15px;
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
}
.review-card span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.review-card button {
  color: white;
  background-color: #eab308;
  border-radius: 100px;
  height: 45px;
  width: 155px;
}

.review-card button:hover {
  background-color: #a16207;
}
.review-card span button {
  width: auto;
}
