.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  /* height: 180px; */
}
.intro p {
  row-gap: 5px;
  text-align: justify;
  align-items: center;
  width: 70%;
}
.intro p::first-letter {
  font-size: 30px;
  color: #ca8a04;
}
