.booking-form {
  background-color: #78716c;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  border-radius: 35px;
  margin-left: 30px;
  transition: 0.5s;
}
.booking-form:hover {
  transform: scale(1.03);
}
.booking-form input,
.booking-form select {
  background-color: #a8a29e;
  color: #fafaf9;
  height: 55px;
  width: 80%;
  align-items: center;
  text-align: start;
  padding: 15px;
  border: none;
  border-radius: 100px;
  font-size: 22px;
}
.booking-form input::placeholder {
  color: #fafaf9;
}

.add-btn {
  color: #fafaf9;
  background-color: #ca8a04;
  border-radius: 100px;
  height: 55px;
  width: 155px;
  transition: 0.5s ease;
}
.add-btn:hover {
  background-color: #854d0e;
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .booking-form {
    height: 100%;
    width: 90%;
  }
  .booking-form input,
  .booking-form select,
  .booking-form button {
    width: 80%;
    margin: 10px;
  }
}
