.review-form {
  height: 50vh;
  background-color: #78716c;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 15px;
  margin-left: 30px;
  border-radius: 35px;
  transition: 0.5s;
}
.review-form:hover {
  transform: scale(1.03);
}

.description {
  height: 325px;
  width: 90%;
  align-items: center;
  text-align: start;
  border: none;
  border-radius: 25px;
  font-size: 22px;
  margin: 25px;
  padding: 15px;
  background-color: #a8a29e;
}
.description::placeholder {
  color: #fafaf9;
}

.add-btn {
  color: #fafaf9;
  background-color: #ca8a04;
  border-radius: 100px;
  height: 55px;
  width: 155px;
  transition: 0.5s ease;
}
.add-btn:hover {
  background-color: #854d0e;
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .review-form {
    height: 100%;
    width: 90%;
  }
  .description,
  .add-btn {
    width: 80%;
  }
}
